<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home index</title>
    <link rel="stylesheet" th:src="style.css" >

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />

</head>
<body>
    <div>
        <h1 class="header">Temperature measurement</h1>
    </div>
    <div class="img1">

        <img src="image/fever.jpg" alt="fever thermometer" title="thermometer">

       </div>
    <a th:href="@{/contact}">Enter your contact first here</a>



</body>
</html>